@using LCFila.Web.Models
@using LCFila.Web.Models.Empresa
@model EmpresaLoginViewModel

@{
    ViewData["Title"] = "Excluir Empresa";
}

<!-- Content Wrapper. Contains page content -->
<div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Excluir</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <div id="example" class="table table-hover table-striped ">
           
                        <h3>Você tem certeza que deseja excluir essa Empresa?</h3>
                        
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.NomeEmpresa)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.NomeEmpresa)
                                </dd>

                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CNPJ)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CNPJ)
                                </dd>

                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Email)
                                </dd>

                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Ativo)
                                </dt>
                                <dd class="col-sm-10">
                                    @if (Model.Ativo)
                                    {
                                        <div>Ativa</div>
                                    }
                                    else
                                    {
                                        <div>Desativada</div>
                                    }
                                </dd>
                            </dl>

                </div>
                @if (TempData["mensagemErro"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
                        @TempData["mensagemErro"]
                    </div>
                }
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <form asp-action="Delete">
                    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Excluir" class="btn btn-danger float-right" />
                </form>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
