@using LCFila.Web.Models
@model List<FilaViewModel>

<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            @if (ViewBag.info != null)
            {
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h6><i class="icon fas fa-check"></i>  @ViewBag.info</h6>
                </div>
            }
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Fila</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Fila</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content text-center col-xxl-10 col-xl-10 col-md-12 col-sm-12  m-auto">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><a asp-area="" asp-controller="Fila" asp-action="CreateFila" asp-route-id="@ViewBag.idFila" data-id="@ViewBag.idFila" class="btn btn-primary">Criar Fila</a></h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">

                            </th>
                            <th style="width: 20%">
                                Fila
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                               Data
                            </th>
                            <th style="width: 8%" class="text-center">
                                @if (User.IsInRole("EmpAdmin") || User.IsInRole("SysAdmin"))
                                {
                                <div>Usuário</div> 
                                }
                            </th>
                            <th >
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Ativo == true)
                            {
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a>
                                            @item.Nome
                                        </a>
                                        <br>
                                        <small>

                                        </small>
                                    </td>
                                    <td>
                                        @item.Status
                                    </td>
                                    <td class="project_progress">
                                        @item.DataInicio.Date.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class="project-state">
                                        @if (User.IsInRole("EmpAdmin") || User.IsInRole("SysAdmin"))
                                        { 
                                            @item.NomeUser
                                        }
                                    </td>
                                    <td class="project-actions text-right">

                                        <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Fila" asp-action="Details" asp-route-id="@item.Id" data-id="@item.Id">
                                            <i class="fas fa-external-link-alt"></i>
                                            @*<i class="fas fa-folder"></i>*@
                                            Ver
                                        </a>
                                        @if (User.IsInRole("EmpAdmin") || User.IsInRole("SysAdmin"))
                                        {
                                            @if (item.Status.ToString() == LCFila.Web.Models.FilaStatusViewModel.Finalizada.ToString())
                                            {
                                                <a class="btn btn-info btn-sm" asp-area="" asp-controller="Fila" asp-action="ReAbrir" asp-route-id="@item.Id" data-id="@item.Id">
                                                    <i class="fas fa-history"></i>
                                                    Re-Abrir
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger btn-sm" asp-area="" asp-controller="Fila" asp-action="Finalizar" asp-route-id="@item.Id" data-id="@item.Id">
                                                    <i class="far fa-window-close"></i>
                                                    @*<i class="fas fa-trash"></i>*@
                                                    Fechar
                                                </a>
                                            }
                                        }
                                        else
                                        {

                                            @if (item.Status.ToString() == LCFila.Web.Models.FilaStatusViewModel.Finalizada.ToString())
                                            {
                                                <a class="btn btn-danger btn-sm disabled">
                                                    <i class="far fa-window-close"></i>
                                                    @*<i class="fas fa-trash"></i>*@
                                                    Fechar
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger btn-sm" asp-area="" asp-controller="Fila" asp-action="Finalizar" asp-route-id="@item.Id" data-id="@item.Id">
                                                    <i class="far fa-window-close"></i>
                                                    @*<i class="fas fa-trash"></i>*@
                                                    Fechar
                                                </a>
                                            }
                                        }

                                        @if (User.IsInRole("EmpAdmin") || User.IsInRole("SysAdmin"))
                                        {
                                            <a class="btn btn-danger btn-sm" asp-area="" asp-controller="Fila" asp-action="Delete" asp-route-id="@item.Id" data-id="@item.Id">
                                                <i class="fas fa-trash"></i>
                                                Deletar
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>

</div> 